:root { 
--black_900_7f:#0000007f; 
--white_A700_7f:#ffffff7f; 
--gray_50_01:#fafafa; 
--gray_50_02:#fcfcfc; 
--red_600:#e82c2c; 
--deep_purple_600:#583ea8; 
--green_500:#30b156; 
--white_A700_99:#ffffff99; 
--green_A700:#00ba34; 
--yellow_800:#edac2a; 
--gray_200_01:#eaeaea; 
--deep_orange_A700:#fc1605; 
--red_700_01:#ea2121; 
--blue_gray_700:#515151; 
--gray_200_02:#ececec; 
--pink_500:#ff0099; 
--gray_200_05:#f0ecec; 
--red_A700:#ff0000; 
--gray_200_03:#e7e7e7; 
--gray_200_04:#efefef; 
--gray_600:#757575; 
--gray_400:#bfbfbf; 
--black_900_0a:#0000000a; 
--blue_gray_100:#d1d1d1; 
--gray_200:#f3ece8; 
--blue_50:#edf1ff; 
--indigo_A700:#0018ff; 
--white_A700:#ffffff; 
--blue_gray_700_01:#535353; 
--blue_gray_50:#f1f1f1; 
--red_700:#e82525; 
--indigo_A200:#545ff8; 
--light_blue_400:#27abe4; 
--gray_50:#f8f8f8; 
--black_900_1e:#0000001e; 
--gray_600_4c:#8477774c; 
--red_A700_70:#ff000070; 
--black_900:#000000; 
--light_green_500:#8ccd47; 
--black_900_60:#00000060; 
--gray_500_01:#9d9d9d; 
--gray_500_03:#909090; 
--gray_500_02:#959595; 
--deep_orange_A400:#fb1e07; 
--black_900_26:#00000026; 
--pink_200:#ff8dd1; 
--gray_900_02:#1f1f1f; 
--gray_700:#585757; 
--white_A700_e5:#ffffffe5; 
--gray_600_02:#7a7a7a; 
--gray_500:#8f8f8f; 
--gray_600_01:#828282; 
--gray_900:#171717; 
--gray_900_01:#222222; 
--gray_300:#dddddd; 
--green_500_01:#59be50; 
--gray_100:#f6f6f6; 
--white_A700_87:#ffffff87; 
--indigo_100:#b5bcfc; 
--white_A700_01:#fffcfc; 
--blue_200:#acbaff; 
--light_blue_400_01:#27ace5; 
}