.general-tab {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .general-tab .overlap-wrapper {
    background-color: #ffffff;
    border: 1px none;
    height: 1561px;
    width: 1920px;
  }
  
  .general-tab .overlap {
    background-color: #f8f8f8;
    height: 1561px;
    position: relative;
  }
  
  .general-tab .overlap-group {
    background-color: #ffffff;
    height: 1200px;
    left: 110px;
    position: absolute;
    top: 249px;
    width: 1700px;
  }
  
  .general-tab .notes {
    border-radius: 20px;
    height: 534px;
    left: 1218px;
    position: absolute;
    top: 40px;
    width: 421px;
  }
  
  .general-tab .specialty-physician-wrapper {
    background-color: #fffcfc;
    border-radius: 20px;
    height: 424px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 417px;
  }
  
  .general-tab .specialty-physician {
    color: #000000;
    font-family: "Cairo", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
    width: 386px;
  }
  
  .general-tab .text-wrapper {
    color: #000000;
    font-family: "Cairo", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .general-tab .span-wrapper {
    color: #000000;
    font-family: "Cairo", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    width: 184px;
  }
  
  .general-tab .span {
    color: #000000;
    font-family: "Cairo", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .general-tab .save-button {
    all: unset;
    border-radius: 20px;
    box-sizing: border-box;
    height: 37px;
    left: 138px;
    position: absolute;
    top: 497px;
    width: 129px;
  }
  
  .general-tab .div {
    height: 38px;
    position: relative;
    top: -1px;
    width: 127px;
  }
  
  /* .general-tab .background {
    background-color: #000000;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #0000000a;
    height: 35px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 127px;
  } */
  
  .general-tab .save {
    color: #ffffff;
    font-family: "Cairo", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 43px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .general-tab .text-wrapper-2 {
    color: #ffffff;
    font-family: "Cairo", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .general-tab .capillary-refill {
    height: 47px;
    left: 71px;
    position: absolute;
    top: 829px;
    width: 388px;
  }
  
  .general-tab .overlap-2 {
    height: 45px;
    left: 242px;
    position: absolute;
    top: 1px;
    width: 93px;
  }
  
  .general-tab .rectangle {
    height: 42px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 93px;
  }
  
  .general-tab .element {
    color: #000000;
    font-family: "Cairo", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 38px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .general-tab .text-wrapper-3 {
    color: #000000;
    font-family: "Cairo", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .general-tab .sec {
    color: #000000;
    font-family: "Cairo", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 347px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
  }
  
  .general-tab .p {
    color: #000000;
    font-family: "Cairo", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1px;
  }
  
  .general-tab .yellowing {
    height: 154px;
    left: 71px;
    position: absolute;
    top: 573px;
    width: 609px;
  }
  
  .general-tab .overlap-3 {
    height: 74px;
    left: 193px;
    position: absolute;
    top: 80px;
    width: 418px;
  }
  
  .general-tab .gradient-line {
    height: 74px;
    left: 0;
    position: absolute;
    top: 0;
    width: 408px;
  }
  
  .general-tab .rectangle-2 {
    background: linear-gradient(90deg, rgb(0, 162.56, 94.29) 0%, rgb(229.59, 233.12, 56.78) 47.4%, rgb(255, 0, 0) 100%);
    border-radius: 30px;
    box-shadow: 0px 8px 20px #afafaf66;
    height: 24px;
    left: 0;
    position: absolute;
    top: 50px;
    width: 408px;
  }
  
  .general-tab .union {
    height: 44px;
    left: 328px;
    position: absolute;
    top: 0;
    width: 5px;
  }
  
  .general-tab .text-scale {
    height: 14px;
    left: 0;
    position: absolute;
    top: 30px;
    width: 418px;
  }
  
  .general-tab .bad {
    color: #000000;
    font-family: "Nunito", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 120.4px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .general-tab .text-wrapper-4 {
    color: #000000;
    font-family: "Nunito", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 120.4px;
  }
  
  .general-tab .good {
    color: #000000;
    font-family: "Nunito", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 384px;
    letter-spacing: 0;
    line-height: 120.4px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .general-tab .pallor-severity {
    color: #000000;
    font-family: "Cairo", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 1px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 94px;
  }
  
  .general-tab .group {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 273px;
  }
  
  .general-tab .tick-circle {
    height: 24px;
    left: 209px;
    position: absolute;
    top: 10px;
    width: 24px;
  }
  
  .general-tab .close-circle {
    height: 24px;
    left: 247px;
    position: absolute;
    top: 10px;
    width: 24px;
  }
  
  .general-tab .span-wrapper-2 {
    color: #000000;
    font-family: "Cairo", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
  }
  
  .general-tab .pallor {
    height: 156px;
    left: 71px;
    position: absolute;
    top: 317px;
    width: 610px;
  }
  
  .general-tab .overlap-4 {
    height: 74px;
    left: 194px;
    position: absolute;
    top: 82px;
    width: 418px;
  }
  
  .general-tab .img {
    height: 44px;
    left: 148px;
    position: absolute;
    top: 0;
    width: 5px;
  }
  
  .general-tab .pallor-severity-2 {
    color: #000000;
    font-family: "Cairo", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 95px;
  }
  
  .general-tab .group-2 {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 153px;
  }
  
  .general-tab .tick-circle-2 {
    height: 24px;
    left: 89px;
    position: absolute;
    top: 10px;
    width: 24px;
  }
  
  .general-tab .close-circle-2 {
    height: 24px;
    left: 127px;
    position: absolute;
    top: 10px;
    width: 24px;
  }
  
  .general-tab .cyanosis {
    height: 155px;
    left: 71px;
    position: absolute;
    top: 62px;
    width: 612px;
  }
  
  .general-tab .overlap-5 {
    height: 74px;
    left: 196px;
    position: absolute;
    top: 81px;
    width: 418px;
  }
  
  .general-tab .union-2 {
    height: 44px;
    left: 367px;
    position: absolute;
    top: 0;
    width: 5px;
  }
  
  .general-tab .pallor-severity-3 {
    color: #000000;
    font-family: "Cairo", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 2px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 94px;
  }
  
  .general-tab .group-3 {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 181px;
  }
  
  .general-tab .tick-circle-3 {
    height: 24px;
    left: 117px;
    position: absolute;
    top: 10px;
    width: 24px;
  }
  
  .general-tab .close-circle-3 {
    height: 24px;
    left: 155px;
    position: absolute;
    top: 10px;
    width: 24px;
  }
  
  .general-tab .tabs {
    background-color: #eaeaea;
    border-radius: 12px 12px 0px 0px;
    height: 63px;
    left: 110px;
    overflow: hidden;
    position: absolute;
    top: 186px;
    width: 1062px;
  }
  
  .general-tab .frame {
    background-color: #eaeaea;
    border-radius: 12px 12px 0px 0px;
    height: 63px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 188px;
  }
  
  .general-tab .span-wrapper-3 {
    color: #222222;
    font-family: "DM Sans", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 19px;
  }
  
  .general-tab .text-wrapper-5 {
    color: #222222;
    font-family: "DM Sans", Helvetica;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .general-tab .general-wrapper {
    background-color: #ffffff;
    border-radius: 12px 12px 0px 0px;
    height: 63px;
    left: 188px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 131px;
  }
  
  .general-tab .lungs-wrapper {
    background-color: #eaeaea;
    border-radius: 12px 12px 0px 0px;
    height: 63px;
    left: 319px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 115px;
  }
  
  .general-tab .pulses-wrapper {
    background-color: #eaeaea;
    border-radius: 12px 12px 0px 0px;
    height: 63px;
    left: 434px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 119px;
  }
  
  .general-tab .abdomen-wrapper {
    background-color: #eaeaea;
    border-radius: 12px 12px 0px 0px;
    height: 63px;
    left: 553px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 148px;
  }
  
  .general-tab .heart-wrapper {
    background-color: #eaeaea;
    border-radius: 12px 12px 0px 0px;
    height: 63px;
    left: 701px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 112px;
  }
  
  .general-tab .legs-wrapper {
    background-color: #eaeaea;
    border-radius: 12px 12px 0px 0px;
    height: 63px;
    left: 813px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 103px;
  }
  
  .general-tab .summary-wrapper {
    background-color: #eaeaea;
    border-radius: 12px 12px 0px 0px;
    height: 63px;
    left: 916px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 146px;
  }
  
  .general-tab .NAV {
    background-color: #ffffff;
    height: 94px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .general-tab .profile {
    height: 61px;
    left: 1647px;
    position: absolute;
    top: 23px;
    width: 223px;
  }
  
  .general-tab .profile-2 {
    height: 60px;
    left: 81px;
    position: absolute;
    top: 1px;
    width: 146px;
  }
  
  .general-tab .overlap-group-2 {
    height: 60px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 111px;
  }
  
  .general-tab .dr-david-ochoa {
    color: #000000;
    font-family: "Cairo", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .general-tab .text-wrapper-6 {
    color: #000000;
    font-family: "Cairo", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .general-tab .cardiologist {
    color: #8f8f8f;
    font-family: "Cairo", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 28px;
  }
  
  .general-tab .text-wrapper-7 {
    color: #8f8f8f;
    font-family: "Cairo", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .general-tab .arrow {
    height: 8px;
    left: 127px;
    position: absolute;
    top: 24px;
    width: 15px;
  }
  
  .general-tab .profile-picture {
    background-image: url(https://cdn.animaapp.com/projects/65a945881c395bf52b1e3e78/releases/65a9e82814bc0dc531a973f2/img/placeholder-19@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 14px;
    height: 57px;
    left: 0;
    position: absolute;
    top: 0;
    width: 57px;
  }
  
  .general-tab .icon-groups {
    height: 30px;
    left: 1355px;
    position: absolute;
    top: 37px;
    width: 210px;
  }
  
  .general-tab .calendar-icon {
    height: 30px;
    left: 60px;
    position: absolute;
    top: 0;
    width: 30px;
  }
  
  .general-tab .settings-icon {
    height: 30px;
    left: 180px;
    position: absolute;
    top: 0;
    width: 30px;
  }
  
  .general-tab .chart-icon {
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 30px;
  }
  
  .general-tab .message-icon {
    height: 30px;
    left: 120px;
    position: absolute;
    top: 0;
    width: 30px;
  }
  
  .general-tab .separator {
    background-color: #d1d1d1;
    border-radius: 8px;
    height: 56px;
    left: 1613px;
    position: absolute;
    top: 23px;
    width: 2px;
  }
  
  .general-tab .VP-logo {
    height: 36px;
    left: 28px;
    position: absolute;
    top: 29px;
    width: 403px;
  }
  
  .general-tab .virtual-physical {
    color: #000000;
    font-family: "DM Sans", Helvetica;
    font-size: 30px;
    font-weight: 500;
    left: 43px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 358px;
  }
  
  .general-tab .text-wrapper-8 {
    color: #000000;
    font-family: "DM Sans", Helvetica;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .general-tab .VP-logo-2 {
    height: 35px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 35px;
  }
  